# list comprehension

In [1]:
#1
l1= [i for i in range(11)]

even_square = [i**2 for i in l1 if i%2 ==0]
even_square

[0, 4, 16, 36, 64, 100]

In [ ]:
#2
s1 = "all vowel in the line IN"
vowel_word = [i for i in s1.split() if i[0].lower() in "aeiou"]
vowel_word

['all', 'in', 'IN']

In [4]:
#3
l2 = [4,5,5,5,6,7,7,9,9]
unique_list = {i for i in l2 if i>5}
unique_list

{6, 7, 9}

In [6]:
#4
set1_50 = {i for i in range(1,51) if i%3==0 and i%5==0}
set1_50

{15, 30, 45}

In [7]:
#5
cubes = {i:i**3 for i in range(1,6)}
cubes

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [ ]:
#6
students = {'a': 70, 'b' : 45, 'c': 60 , 'd':90}
d1 = {i:students[i] for i in students if students[i]>=60}
d1

{'a': 70, 'c': 60, 'd': 90}

# Regular Expression

In [1]:
import re

In [2]:
s = "python is very very easy"
re.search("easy",s)

In [3]:
re.match("python", s)

In [4]:
re.match("easy", s)

In [16]:
m = re.search(r"\d{5,10}" , "age is 213242342")
print(m)
m.group()

<re.Match object; span=(7, 16), match='213242342'>

'213242342'

In [21]:
re.search(r"ab*" , "abbba baa baaab")

# lamda function

In [22]:
odd_even = lambda n : "even" if n%2 == 0 else "odd"
odd_even(5)

'odd'

In [24]:
sum3 = lambda x,y,z : x+y+z
sum3(2,3,4)

9

package, module

In [25]:
import mymath

mymath.add(2,3)

5

In [12]:
from mypackage import add,mul

add.add(4,6)

10

# class and objects

In [92]:
#1 bank

class Bank:
    bname = "SBI"
    loc = 'West Bengal'
    timing = "10a.m - 4p.m"
    ifsc = 132


    def __init__(self,name, age, phone, pan, balance):
        self.name = name
        self.age = age
        self.phone = phone
        self.pan = pan
        self.balance = balance

    def show_balance(self):
        print(self.balance)

    def withdraw(self, amount):
        if amount > self.balance:
            print("Not enough balance")
            
        else:
            self.balance = self.balance-amount
            print("withdraw successfull!")
            print(f"New Balance : {self.balance}")

            

    def deposit(self,amount):
        self.balance += amount
        print("deposite successfull!!")
        print(f"New Balance : {self.balance}")

    @classmethod
    def change_bname(cls,name):
        cls.bname = name

In [93]:
c1 = Bank("aman",22, 65667890, 856789, 9000 )
c2 = Bank("Mohit",27, 56789765, 1234432123, 19000 )

In [94]:
c1.deposit(1000)
c1.show_balance()

deposite successfull!!
New Balance : 10000
10000

In [95]:
c1.withdraw(1000)
c1.show_balance()

withdraw successfull!
New Balance : 9000
9000

In [96]:
Bank.change_bname("RBI")
c1.bname

'RBI'